@use '../variables/colors' as *;
@use '../variables/fonts' as *;

%centering
{
    display: flex;
    justify-content: center;
    align-items: center;
}

%error
{
    background-color: rgb(193, 36, 36);
    color: $white;
    font-family: $menuFont;
    font-size: 0.8em;
    padding: 2px;
    margin-left: -110px;
    display: none;
}